:root {
    --night : #0f172a;
    --day : #f4f4f5;

    --text-white : #fafafa;
    --text-black : #0a0a0a;
}

body {
    display: flex;
    flex-direction: column;
}

.temp_f {
    visibility: hidden;
}

.precip_mm {
    visibility:  hidden;
}

.gust_mph { 
    visibility: hidden;
}